language: node_js
node_js:
  - 0.10

env:
  matrix:
    - JOB=unit
    - JOB=e2e
  global:
    - secure: M+/ZfpZIjCJUk9Bek0Hqo2mIfAj6QOipL6hxoctLvv13yk8yItzfrDmPJawjsB9MJiDTSGm2iVKZ2I3XBd9l3eqjnwJf4kQAmD32QPu2cF6YousLSEmlkLY6LUgIqcBx7fGAUkM9a22sThGGzyYD6ioWYrYMRRp9EMTJDjW4XkE=
	  - secure: E7qWKYhwaUAT8XG5rZltknlfViN9l8uVMUdyvnj+CnNKQtO28Jm91PZUrUI6M3VN9Qb9uii0SDG8kCcfLJWZCrTaH1ec+wuPPCIklQFEgy3bEBRaAK29lN1mG3SOpDduUUlUho3ixDrjYFa6ZrWFpHQ41WMvYbDQLCqr7Ag1M/c=
		- LOGS_DIR=/tmp/angular-build/logs
    - BROWSER_PROVIDER_READY_FILE=/tmp/sauce-connect-ready

before_script:
  # - export BROWSER_PROVIDER=$(./scripts/travis/decide_browser_provider.sh)
  - export BROWSER_PROVIDER=browserstack
  - mkdir -p $LOGS_DIR
  - ./scripts/travis/start_browser_provider_tunnel.sh
  - npm install -g grunt-cli
  - grunt bower
  - grunt bower
  - grunt package-without-bower
  - ./scripts/travis/wait_for_browser_provider.sh

script:
  - ./scripts/travis/build.sh

after_script:
  - ./scripts/travis/print_logs.sh
